<?xml version="1.0"?>

<model>
  <name>Puzzlebot base</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>  

  <author>
    <name>Axel Perez</name>
    <email>axel.apm.0@gmail.com</email>
  </author>

  <description>
    Simulation world with concrete texture
  </description>
</model>
