<?xml version="1.0"?>

<model>
  <name>Line Marker</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>Axel Perez</name>
    <email>mario.mtz@manchester-robotics.com</email>
  </author>

  <description>
   Line markers for floors (no collisions)
  </description>
</model>
